.heading {
	font-size: 3.4rem;
	font-weight: bold;
	margin-bottom: .5rem;
	line-height: 1.2;

	@include tinyScreen {
		font-size: 2.5rem;
	}

	&--black {
		color: $black;
	}

	&--white {
		color: $white;
	}
}

.heading-paragraph {
	font-size: 1.6rem;
	line-height: 1.3;

	&--black {
		color: $black;
	}

	&--white {
		color: $white;
	}
}

.sub-heading {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: .5rem;
	line-height: 1.2;

	@include tinyScreen {
		font-size: 1.8rem;
	}

	&--black {
		color: $black;
	}

	&--white {
		color: $white;
	}
}