.btn {
	text-decoration: none;
	display: block;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;

	&--primary {
		background-color: #9d7f65;
		color: #fff;
		padding: 12px 24px;
		text-align: center;
		width: 120px;

		&:hover {
			background-color: $black;
		}
	}
}