.company-info {
	display: flex;
	justify-content: center;
	padding: 0 2rem;

	&,
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		@include smallScreen {
			flex-direction: column;
		}
	}


	&__content {
		width: 1300px;
		width: 80%;
		padding: 5rem 1rem;
		text-align: center;

		@include smallScreen {
			width: 100%;
		}
	}

	&__1-of-2 {
		margin-top: 3rem;
		width: 50%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		text-align: left;

		@include smallScreen {
			width: 100%;
			text-align: center;
		}

		& img {
			width: 321px;
			margin: 0 auto;
		}
	}

	&__text {
		text-align: left;
		line-height: 1.5;

		@include smallScreen {
			text-align: center;
		}
	}
}