.distribution-network {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	&__container {
		width: 1300px;
		width: 80%;
		padding: 5rem 1rem;
		text-align: center;
	}

	&__content-box {
		display: flex;
		flex-direction: column;
	}

	&__tiles-row {
		display: flex;
		flex-direction: row;
		width: 100%;

		@include smallScreen {
			flex-direction: column;
		}
	}

	&__box {
		margin: 1rem 2rem;
	}

	&__box-row {
		display: flex;
		flex-direction: column;

		& span {
			line-height: 1.5;
		}
	}

	&__voivodeship {
		font-size: 1.6rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	&__icon-box {
		& img {
			max-width: 200px;
		}
	}

	&__text-box {
		display: flex;
		justify-content: center;
		flex-direction: column;

		& span {
			line-height: 1.4;
		}
	}

	&__hours {
		font-weight: bold;
		margin-top: 20px;
	}
}