.main-slider,
#carousel-container,
.flickity-page-dots {
	justify-content: center;
	align-items: center;
	display: flex;
}

.main-slider {
	flex-direction: column;
}

.main-slider {
	height: 100vh;
}

#carousel-container {
	height: 100%;
	width: 100%;
}