.services {
	padding: 8rem 2rem;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	text-align: center;

	@include tinyScreen {
		padding: 5rem 2rem;
	}

	&,
	&__content {
		display: flex;
		flex-direction: column;
	}

	&__content {
		width: 100%;
		max-width: 1400px;
	}

	&__btns-container {
		display: flex;
		justify-content: center;
		margin-bottom: 4rem;
	}

	&__select-box {
		margin: 0 0.5rem;
	}

	&__button {
		background-color: $gold;
		color: $white;
		opacity: 0.5;
		border: none;
		padding: 8px 16px;
		cursor: pointer;
		font-size: 1.6rem;
		transition: opacity 0.2s ease-out;
		text-align: center;
		outline: none;

		&.active {
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__pictures-container {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}

	&__row {
		display: flex;
		margin: 0 1rem;
		justify-content: center;
	}

	&__image-box {
		width: 300px;
		display: flex;
		height: 300px;
		border: 1px solid $border-color;
		margin: .5rem;
		position: relative;
		overflow: hidden;

		& a {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__image-box:hover &__hover-info {
		opacity: 1;
	}

	&__hover-info {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $dark-grey;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		opacity: 0;
		transition: opacity .25s ease-in-out;

		& span {
			font-size: 2rem;
			font-weight: bold;
		}
	}
}