.items {
	margin-bottom: 4rem;

	&--top-margin {
		margin-top: 4rem;
	}

	@include smallScreen {
		margin-bottom: 2rem;
	}

	&,
	&__content,
	&__row {
		display: flex;
		justify-content: center;
	}

	&,
	&__content {
		padding: 0 2rem;
	}

	&__content {
		width: 80%;
		max-width: 1300px;
		flex-direction: column;
		align-items: center;

		@include smallScreen {
			width: 100%;
			padding: 0rem;
		}
	}

	&__row {
		margin-top: 3rem;
		align-items: center;

		@include smallScreen {
			flex-direction: column-reverse;
		}
	}

	&__1-of-2 {
		width: 50%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		text-align: left;
		justify-content: center;

		@include smallScreen {
			width: 100%;
			align-items: center;
		}

		&--first {
			order: 1;

			@include smallScreen {
				order: 2;
			}
		}

		&--second {
			order: 2;

			@include smallScreen {
				order: 1;
			}
		}

		& img {
			width: 100%;
			max-width: 321px;
			margin: 0 auto;

			@include smallScreen {
				margin-top: 5rem;
			}

			@include tinyScreen {
				margin-top: 3rem;
			}
		}
	}

	&__gallery-wrap-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__single-item {
		width: 275px;
		border: 1px solid $border-color;
		margin: 0rem 2.25rem;

		@include normalDesktop {
			margin: 0 1rem;
			width: 200px;
		}

		@include smallScreen {
			margin-bottom: 2rem;
			width: 100%;
			max-width: 400px;
		}

		&--page-item-theme {
			margin: 1.25rem;

			@include normalDesktop {
				margin: 1.25rem;
				width: 275px;
			}

			& img {
				width: 100%;
			}
		}
	}

	&__item-image-box {
		box-sizing: border-box;
		padding: 20px 10px;
	}

	&__item-image {
		width: 100%;
	}

	&__item-info {
		font-size: 1.8rem;
		font-weight: bold;
		transition: opacity .3s ease-in-out;
		width: 100%;
		display: block;
		padding: 12px;
		box-sizing: border-box;
		background-color: $black;
		color: $white;
		text-align: center;

		& span {
			display: block;
		}
	}

	& &__item-link {
		font-size: 1.6rem;
		font-weight: 400;
		background-color: $black;
		border: 1px solid white;
		padding: 8px;
		margin-top: 1.5rem;
		color: $white;
		transition: background-color .3s ease-in-out, color .2s ease-in-out;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}

	& a {
		text-decoration: none;
		background-color: $gold;
		color: $white;
		padding: 12px 24px;
		display: block;
		text-align: center;
		width: 131px;
		margin: 2rem auto 0;
		transition: background-color .25s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: $black;
		}
	}
}