.info {
	padding: 6rem 2rem 2rem;
	justify-content: center;

	&,
	&__content {
		display: flex;
	}

	&__content {
		width: 1300px;
		flex-direction: column;
	}

	&__full-box,
	&__half-box {
		box-sizing: border-box;
	}

	&__full-box {
		display: flex;

		&:last-child {
			flex-direction: column;
			text-align: center;
			padding-top: 5rem;

			& h2 {
				margin-bottom: 2rem;
			}
		}
	}

	&__half-box {
		width: 50%;

		&:nth-child(1) {
			padding-right: 1.75rem;
		}

		&:nth-child(2) {
			padding-right: 1.75rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& p {
			&:not(:last-child) {
				margin-bottom: 1.75rem;
			}
		}
	}

	&__table {
		margin: 0rem auto 0rem;
	}

	&__table,
	&__table tr,
	&__table td {
		border: 2px solid $black;
		width: 550px;
	}

	&__table td {
		padding: 10px;
	}
}